body{
  padding: 20px;
  background-color: yellow;
}
.app {
  font-family: Arial, sans-serif;
  text-align: center;
}

.question-section {
  margin-bottom: 20px;
}

.question-count {
  margin-bottom: 10px;
}

.question-text {
  font-size: 24px;
  margin-bottom: 20px;
}

.answer-section button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.score-section {
  font-size: 24px;
  font-weight: bold;
}
